In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
import warnings.simplefilter(action='ignore'.category=Futurewarning)

SyntaxError: invalid syntax (1175475481.py, line 1)

In [8]:
df = pd.read_csv('/workspaces/Amazon_sales_dataset_project/Amazon Sale Report (1).csv',index_col = 'index')

In [9]:
df.drop(['New','PendingS'], axis = 1, inplace = True)

In [ ]:
df.info()

Eksik verilere göz atalım

In [11]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency               7800
Amount                 7800
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [13]:
df.shape[0]

128976

In [14]:
df.shape[1]

18

In [15]:
df[['currency','Amount']]

       currency   Amount
index
0           INR   647.62
1           INR   406.00
2           INR   329.00
3           INR   753.33
4           INR   574.00
...         ...      ...
128970      INR   517.00
128971      INR   999.00
128972      INR   690.00
128973      INR  1199.00
128974      INR   696.00

[128976 rows x 2 columns]

currency sütunu tamamen INR değeri içerdiğinden eksik verileri INR ile doldurabilirim.

In [16]:
df['currency'].unique()

array(['INR', nan], dtype=object)

In [17]:
df['currency'].fillna('INR',inplace = True)

In [18]:
df['Amount'].describe()

count    121176.000000
mean        648.562176
std         281.185041
min           0.000000
25%         449.000000
50%         605.000000
75%         788.000000
max        5584.000000
Name: Amount, dtype: float64

In [21]:
amountMedian = df['Amount'].median()

In [22]:
np.float64(605.0)

np.float64(605.0)

In [24]:
np.int64(0)

np.int64(0)

In [27]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                 7800
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [28]:
df[["ship-city","ship-state","ship-country","ship-postal-code"]].dtypes

ship-city            object
ship-state           object
ship-country         object
ship-postal-code    float64
dtype: object

In [29]:
def modAlma(sütun_ismi):
    return df[sütun_ismi].mode()[0]

In [42]:
ship_city_mod = modAlma("ship-city")
ship_state_mod = modAlma("ship-state")
ship_country_mod = modAlma("ship-country")

In [43]:
print(ship_city_mod,ship_state_mod,ship_country_mod)

BENGALURU MAHARASHTRA IN

In [44]:
def str_eksik_veri_doldurma(sütun_ismi,method):
    df[sütun_ismi].fillna(method,inplace = True)

In [45]:
str_eksik_veri_doldurma("ship-city",ship_city_mod)
str_eksik_veri_doldurma("ship-state",ship_state_mod)
str_eksik_veri_doldurma("ship-country",ship_country_mod)

/tmp/ipykernel_23469/2475974375.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[sütun_ismi].fillna(method,inplace = True)

In [46]:
df['ship-postal-code']

index
0         400081.0
1         560085.0
2         410210.0
3         605008.0
4         600073.0
            ...
128970    500013.0
128971    122004.0
128972    500049.0
128973    389350.0
128974    492014.0
Name: ship-postal-code, Length: 128976, dtype: float64

ship-postal code bir id oldyuğu için sayısal bir anlam taşımadığı için burayı string tipine dönüştüreceğiz.

In [54]:
df['ship-postal-code'] = df['ship-postal-code'].astype('str') #bir sütunun tipini değiştirmemizi sağlar.
df['ship-postal-code'].dtype

dtype('O')

In [55]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                 7800
ship-city                 0
ship-state                0
ship-postal-code          0
ship-country              0
B2B                       0
fulfilled-by          89713
dtype: int64

In [ ]:
#fullfilled-by sütununda doldurulamayacak kadar çok eksik veri olduğu için bu sütunu kaldırıyoruz
df.drop('fulfilled-by',axis = 1